# Env Example

# Kubeflow Configuration
KUBEFLOW_HOST=http://istio-ingressgateway.istio-system/pipeline
KUBEFLOW_USER_NAMESPACE=kubeflow-user-example-com
KUBEFLOW_USER_TOKEN=your_oauth2_proxy_token_here

# UNet Image Configuration
UNET_IMAGE_NAME=aseleem/unet-train:latest

# Training Run Parameters
EXPERIMENT_NAME=unet
MLFLOW_TRACKING_URI=http://mlflow-tracking.mlflow:80
MINIO_ENDPOINT=minio-service.kubeflow:9000
MINIO_ACCESS_KEY=minio
MINIO_SECRET_KEY=minio123
MINIO_BUCKET_NAME=datasets
DATASET=carvana-image-masking-challenge.zip
DATA_DIR=/Data/datasets/carvana

# Model Hyperparameters
EPOCHS=5
BATCH_SIZE=8
LEARNING_RATE=0.0003
ACCEPTANCE_DC=0.90
